USE [Student_Management]
GO
/****** Object:  UserDefinedFunction [dbo].[AVERAGE_SCORE_CAL]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AVERAGE_SCORE_CAL] 
(
	@ID_STUDENT VARCHAR(10)
)
RETURNS FLOAT

	BEGIN
		DECLARE @AVERAGE_SCORE FLOAT;
			SET @AVERAGE_SCORE = 0
				SELECT @AVERAGE_SCORE = AVG(RESULT.SCORE) FROM RESULT
					LEFT JOIN (SELECT ID_SUBJECT, MAX(TEST_TIME) AS LAST_TIME FROM RESULT
								WHERE RESULT.ID_STUDENT = @ID_STUDENT
									GROUP BY ID_SUBJECT) TABLE2 
					ON RESULT.ID_SUBJECT = TABLE2.ID_SUBJECT AND RESULT.TEST_TIME = TABLE2.LAST_TIME
				WHERE ID_STUDENT = @ID_STUDENT
				AND RESULT.TEST_TIME = TABLE2.LAST_TIME
		RETURN @AVERAGE_SCORE
	END
GO
/****** Object:  UserDefinedFunction [dbo].[CHECK_FACULTY]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CHECK_FACULTY] 
(
	@ID_STUDENT VARCHAR(50),
	@ID_FACULTY VARCHAR(50)
)
RETURNS VARCHAR(10)
AS 
	BEGIN
		DECLARE  @RESULT VARCHAR(10)
			SET @RESULT = 'FALSE'
				IF (EXISTS (SELECT * FROM STUDENT
								LEFT JOIN CLASS ON CLASS.ID = STUDENT.ID_CLASS
								LEFT JOIN FACULTY ON FACULTY.ID = CLASS.ID_FACULTY
								WHERE STUDENT.ID = @ID_STUDENT
								AND FACULTY.ID = @ID_FACULTY
							)
					)
			SET @RESULT = 'TRUE'
		ELSE 		
			SET @RESULT = 'FALSE'
		RETURN @RESULT
	END
GO
/****** Object:  UserDefinedFunction [dbo].[CHECK_SCORE_FIRST_TIME]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CHECK_SCORE_FIRST_TIME]
(
	@ID_STUDENT VARCHAR(10),
	@ID_SUBJECT VARCHAR(10)
)
RETURNS VARCHAR(10)
AS 
	BEGIN 
		DECLARE @SCORE FLOAT
			SET @SCORE = 0 
				SELECT @SCORE = RESULT.SCORE FROM RESULT
				WHERE @ID_STUDENT = RESULT.ID_STUDENT
				AND @ID_SUBJECT = RESULT.ID_SUBJECT
				AND RESULT.TEST_TIME = 1
		IF @SCORE >=5 
			RETURN 'PASS'
		ELSE 
			RETURN 'FAIL'
		RETURN 'FAIL'
	END
GO
/****** Object:  UserDefinedFunction [dbo].[CHECK_SUBJECT_SCORE]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CHECK_SUBJECT_SCORE]
(
	@ID_STUDENT VARCHAR(10),
	@ID_SUBJECT VARCHAR(10)
)
RETURNS FLOAT
AS
	BEGIN
		DECLARE @SCORE FLOAT
			SET @SCORE = 0
				SELECT @SCORE = RESULT.SCORE  FROM RESULT 
					WHERE RESULT.ID_STUDENT = @ID_STUDENT
					AND RESULT.ID_SUBJECT = @ID_SUBJECT
		RETURN @SCORE
	END
GO
/****** Object:  UserDefinedFunction [dbo].[CLASSIFY_STUDENT]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CLASSIFY_STUDENT]
(
	@ID_STUDENT VARCHAR(50)
)
RETURNS VARCHAR(10)
AS
	BEGIN
		DECLARE @AVG_SCORE FLOAT(2)
		DECLARE @RESULT VARCHAR(10)
			SET @AVG_SCORE = 0
				SELECT @AVG_SCORE = DBO.AVERAGE_SCORE_CAL(@ID_STUDENT)
					IF @AVG_SCORE >= 8 
						SET @RESULT = 'GOOD'
					ELSE IF @AVG_SCORE < 8 AND @AVG_SCORE >= 7
						SET @RESULT = 'FAIRLY GOOD'
					ELSE 
						SET @RESULT = 'AVERAGE'
		RETURN @RESULT
	END
GO
/****** Object:  UserDefinedFunction [dbo].[FIRST_SCORE]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FIRST_SCORE]
(
	@ID_STUDENT VARCHAR(50),
	@ID_SUBJECT VARCHAR(50)
)
RETURNS FLOAT
AS
	BEGIN
		DECLARE @RESULT FLOAT
			SET @RESULT = 0;
				SELECT @RESULT = RESULT.SCORE FROM RESULT
					WHERE RESULT.ID_STUDENT = @ID_STUDENT
					AND RESULT.ID_SUBJECT = @ID_SUBJECT
					AND RESULT.TEST_TIME = 1
		RETURN @RESULT
	END
GO
/****** Object:  UserDefinedFunction [dbo].[LAST_TIME_SCORE]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[LAST_TIME_SCORE]
(
	@ID_STUDENT VARCHAR(10),
	@ID_SUBJECT VARCHAR(10)
)
RETURNS FLOAT
AS
	BEGIN
		DECLARE @SCORE FLOAT;
			SET @SCORE = 0
				SELECT TOP 1 @SCORE = RESULT.SCORE FROM RESULT
					WHERE RESULT.ID_STUDENT = @ID_STUDENT
					AND RESULT.ID_SUBJECT = @ID_SUBJECT
					ORDER BY RESULT.TEST_TIME DESC
		RETURN @SCORE
	END
GO
/****** Object:  UserDefinedFunction [dbo].[RESULT_STUDENT]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[RESULT_STUDENT]
(
	@ID_STUDENT VARCHAR(50)
)
RETURNS VARCHAR(10)
AS
	BEGIN 
		DECLARE @AVG_SCORE FLOAT(2)
		DECLARE @RESULT VARCHAR(10)
			SET @AVG_SCORE = 0
				SELECT @AVG_SCORE = DBO.AVERAGE_SCORE_CAL(@ID_STUDENT)
					IF @AVG_SCORE >=5
						SET @RESULT = 'PASS'
					ELSE 
						SET @RESULT = 'FAIL'
		RETURN @RESULT
	END
GO
/****** Object:  Table [dbo].[FACULTY]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACULTY](
	[ID] [varchar](50) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[YEAR_ESTABLISH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE](
	[ID] [varchar](50) NOT NULL,
	[YEAR_BEGIN] [int] NULL,
	[YEAR_END] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS](
	[ID] [varchar](50) NOT NULL,
	[ID_FACULTY] [varchar](50) NULL,
	[ID_COURSE] [varchar](50) NULL,
	[ID_PROGRAM] [varchar](50) NULL,
	[ODER_NUM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[ID] [varchar](50) NOT NULL,
	[ID_CLASS] [varchar](50) NULL,
	[NAME] [nvarchar](100) NULL,
	[YEAR_BIRTH] [int] NULL,
	[ETHIC] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECT]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT](
	[ID] [varchar](50) NOT NULL,
	[ID_FACULTY] [varchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[CHECK_SUBJECT_MUST_LEARN]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CHECK_SUBJECT_MUST_LEARN]
(
	@ID_STUDENT VARCHAR(10)
)
RETURNS TABLE
RETURN
	SELECT SUBJECT.NAME AS SUBJECT FROM SUBJECT
		LEFT JOIN FACULTY ON FACULTY.ID = SUBJECT.ID_FACULTY
		LEFT JOIN CLASS ON CLASS.ID_FACULTY = FACULTY.ID
		LEFT JOIN COURSE ON COURSE.ID = CLASS.ID_COURSE
		LEFT JOIN STUDENT ON STUDENT.ID_CLASS = CLASS.ID
		WHERE STUDENT.ID = @ID_STUDENT
GO
/****** Object:  Table [dbo].[CLASSIFICATION_STUDENT]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSIFICATION_STUDENT](
	[ID_STUDENT] [varchar](50) NOT NULL,
	[AVG_SCORE] [real] NULL,
	[RESULT] [nvarchar](10) NULL,
	[CLASSIFY] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_STUDENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAIL_PROGRAM]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAIL_PROGRAM](
	[ID_PROGRAM] [varchar](50) NOT NULL,
	[ID_FACULTY] [varchar](50) NOT NULL,
	[ID_SUBJECT] [varchar](50) NOT NULL,
	[YEAR] [int] NOT NULL,
	[SEMESTER] [int] NULL,
	[THEORY_LESSON] [int] NULL,
	[PRACTICE_LESSON] [int] NULL,
	[CREDITS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROGRAM] ASC,
	[ID_FACULTY] ASC,
	[ID_SUBJECT] ASC,
	[YEAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROGRAM]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAM](
	[ID] [varchar](50) NOT NULL,
	[NAME] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESULT]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESULT](
	[ID_STUDENT] [varchar](50) NOT NULL,
	[ID_SUBJECT] [varchar](50) NOT NULL,
	[TEST_TIME] [int] NOT NULL,
	[SCORE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_STUDENT] ASC,
	[ID_SUBJECT] ASC,
	[TEST_TIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLASS] ([ID], [ID_FACULTY], [ID_COURSE], [ID_PROGRAM], [ODER_NUM]) VALUES (N'TH2002/01', N'CNTT', N'K2002', N'CQ', 1)
INSERT [dbo].[CLASS] ([ID], [ID_FACULTY], [ID_COURSE], [ID_PROGRAM], [ODER_NUM]) VALUES (N'TH2002/02', N'CNTT', N'K2002', N'CQ', 2)
INSERT [dbo].[CLASS] ([ID], [ID_FACULTY], [ID_COURSE], [ID_PROGRAM], [ODER_NUM]) VALUES (N'VL2003/01', N'VL', N'K2003', N'CQ', 1)
GO
INSERT [dbo].[CLASSIFICATION_STUDENT] ([ID_STUDENT], [AVG_SCORE], [RESULT], [CLASSIFY]) VALUES (N'0212001', 7.16666651, N'PASS', N'FAIRLY GOO')
INSERT [dbo].[CLASSIFICATION_STUDENT] ([ID_STUDENT], [AVG_SCORE], [RESULT], [CLASSIFY]) VALUES (N'0212002', 5.83333349, N'PASS', N'AVERAGE')
INSERT [dbo].[CLASSIFICATION_STUDENT] ([ID_STUDENT], [AVG_SCORE], [RESULT], [CLASSIFY]) VALUES (N'0212003', 6.33333349, N'PASS', N'AVERAGE')
GO
INSERT [dbo].[COURSE] ([ID], [YEAR_BEGIN], [YEAR_END]) VALUES (N'K2002', 2002, 2006)
INSERT [dbo].[COURSE] ([ID], [YEAR_BEGIN], [YEAR_END]) VALUES (N'K2003', 2003, 2007)
INSERT [dbo].[COURSE] ([ID], [YEAR_BEGIN], [YEAR_END]) VALUES (N'K2004', 2004, 2008)
GO
INSERT [dbo].[DETAIL_PROGRAM] ([ID_PROGRAM], [ID_FACULTY], [ID_SUBJECT], [YEAR], [SEMESTER], [THEORY_LESSON], [PRACTICE_LESSON], [CREDITS]) VALUES (N'CQ', N'CNTT', N'THCS01', 2004, 1, 45, 30, 4)
INSERT [dbo].[DETAIL_PROGRAM] ([ID_PROGRAM], [ID_FACULTY], [ID_SUBJECT], [YEAR], [SEMESTER], [THEORY_LESSON], [PRACTICE_LESSON], [CREDITS]) VALUES (N'CQ', N'CNTT', N'THT01', 2003, 1, 60, 30, 5)
INSERT [dbo].[DETAIL_PROGRAM] ([ID_PROGRAM], [ID_FACULTY], [ID_SUBJECT], [YEAR], [SEMESTER], [THEORY_LESSON], [PRACTICE_LESSON], [CREDITS]) VALUES (N'CQ', N'CNTT', N'THT02', 2003, 2, 45, 30, 4)
GO
INSERT [dbo].[FACULTY] ([ID], [NAME], [YEAR_ESTABLISH]) VALUES (N'CNTT', N'Công nghệ thông tin', 1995)
INSERT [dbo].[FACULTY] ([ID], [NAME], [YEAR_ESTABLISH]) VALUES (N'VL', N'Vật Lý', 1970)
GO
INSERT [dbo].[PROGRAM] ([ID], [NAME]) VALUES (N'CQ', N'Chính Qui')
GO
INSERT [dbo].[RESULT] ([ID_STUDENT], [ID_SUBJECT], [TEST_TIME], [SCORE]) VALUES (N'0212001', N'THCS01', 1, 6.5)
INSERT [dbo].[RESULT] ([ID_STUDENT], [ID_SUBJECT], [TEST_TIME], [SCORE]) VALUES (N'0212001', N'THT01', 1, 4)
INSERT [dbo].[RESULT] ([ID_STUDENT], [ID_SUBJECT], [TEST_TIME], [SCORE]) VALUES (N'0212001', N'THT01', 2, 7)
GO
INSERT [dbo].[STUDENT] ([ID], [ID_CLASS], [NAME], [YEAR_BIRTH], [ETHIC]) VALUES (N'0212001', N'TH2002/01', N'Nguyễn Vĩnh An', 1984, N'Kinh')
INSERT [dbo].[STUDENT] ([ID], [ID_CLASS], [NAME], [YEAR_BIRTH], [ETHIC]) VALUES (N'0212002', N'TH2002/01', N'Nguyễn Thanh Bình', 1985, N'Kinh')
INSERT [dbo].[STUDENT] ([ID], [ID_CLASS], [NAME], [YEAR_BIRTH], [ETHIC]) VALUES (N'0212003', N'TH2002/02', N'Nguyễn Thanh Cường', 1984, N'Kinh')
GO
INSERT [dbo].[SUBJECT] ([ID], [ID_FACULTY], [NAME]) VALUES (N'THCS01', N'CNTT', N'Cấu trúc dữ liệu 1')
INSERT [dbo].[SUBJECT] ([ID], [ID_FACULTY], [NAME]) VALUES (N'THCS02', N'CNTT', N'Hệ điều hành')
INSERT [dbo].[SUBJECT] ([ID], [ID_FACULTY], [NAME]) VALUES (N'THT01', N'CNTT', N'Toán Cao cấp A1')
GO
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD FOREIGN KEY([ID_COURSE])
REFERENCES [dbo].[COURSE] ([ID])
GO
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD FOREIGN KEY([ID_PROGRAM])
REFERENCES [dbo].[PROGRAM] ([ID])
GO
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD FOREIGN KEY([ID_FACULTY])
REFERENCES [dbo].[FACULTY] ([ID])
GO
ALTER TABLE [dbo].[CLASSIFICATION_STUDENT]  WITH CHECK ADD FOREIGN KEY([ID_STUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[DETAIL_PROGRAM]  WITH CHECK ADD FOREIGN KEY([ID_FACULTY])
REFERENCES [dbo].[FACULTY] ([ID])
GO
ALTER TABLE [dbo].[DETAIL_PROGRAM]  WITH CHECK ADD FOREIGN KEY([ID_PROGRAM])
REFERENCES [dbo].[PROGRAM] ([ID])
GO
ALTER TABLE [dbo].[DETAIL_PROGRAM]  WITH CHECK ADD FOREIGN KEY([ID_SUBJECT])
REFERENCES [dbo].[SUBJECT] ([ID])
GO
ALTER TABLE [dbo].[RESULT]  WITH CHECK ADD FOREIGN KEY([ID_STUDENT])
REFERENCES [dbo].[STUDENT] ([ID])
GO
ALTER TABLE [dbo].[RESULT]  WITH CHECK ADD FOREIGN KEY([ID_SUBJECT])
REFERENCES [dbo].[SUBJECT] ([ID])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([ID_CLASS])
REFERENCES [dbo].[CLASS] ([ID])
GO
ALTER TABLE [dbo].[SUBJECT]  WITH CHECK ADD FOREIGN KEY([ID_FACULTY])
REFERENCES [dbo].[FACULTY] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[CHECK_RESULT_FIRST_TIME]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHECK_RESULT_FIRST_TIME]
	@ID_STUDENT VARCHAR(50),
	@ID_SUBJECT VARCHAR(50)
AS
	BEGIN
		IF (EXISTS (SELECT * FROM RESULT
					WHERE RESULT.ID_STUDENT = @ID_STUDENT
					AND RESULT.ID_SUBJECT = @ID_SUBJECT
					AND RESULT.TEST_TIME = 1
					AND RESULT.SCORE >=5 ))
				PRINT 'PASS'
		ELSE
				PRINT'FAIL'
	END
GO
/****** Object:  StoredProcedure [dbo].[CHECK_SCORE_FIRST_TIME_PROC]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHECK_SCORE_FIRST_TIME_PROC]
	@ID_SUBJECT VARCHAR(10)
AS 
	BEGIN 
		SELECT RESULT.ID_SUBJECT, STUDENT.NAME, DBO.CHECK_SCORE_FIRST_TIME(RESULT.ID_STUDENT, RESULT.ID_SUBJECT) AS [RESULT] FROM RESULT
			LEFT JOIN STUDENT ON STUDENT.ID = RESULT.ID_STUDENT
			WHERE RESULT.ID_SUBJECT = @ID_SUBJECT --'THT01'
			AND RESULT.TEST_TIME = 1
			AND RESULT.SCORE >=5
			GROUP BY RESULT.ID_SUBJECT, STUDENT.NAME, RESULT.ID_STUDENT
	END
GO
/****** Object:  StoredProcedure [dbo].[CHECK_SUBJECT_MUST_LEARN_PROC]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHECK_SUBJECT_MUST_LEARN_PROC]
	@ID_STUDENT VARCHAR(10)
AS
	BEGIN
		SELECT * FROM DBO.CHECK_SUBJECT_MUST_LEARN(@ID_STUDENT)
	END
GO
/****** Object:  StoredProcedure [dbo].[COMPARE_SCORE]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[COMPARE_SCORE]
	@ID_STUDENT1 VARCHAR(50),
	@ID_STUDENT2 VARCHAR(50),
	@ID_SUBJECT VARCHAR(10)
AS 
	BEGIN 
		DECLARE @RESULT1 FLOAT
		DECLARE @RESULT2 FLOAT
		SELECT @RESULT1 = DBO.FIRST_SCORE(@ID_STUDENT1, @ID_SUBJECT)
		SELECT @RESULT2 = DBO.FIRST_SCORE(@ID_STUDENT2, @ID_SUBJECT)
	IF @RESULT1 > @RESULT2
		PRINT @ID_STUDENT1
	ELSE 
		PRINT @ID_STUDENT2
	END
GO
/****** Object:  StoredProcedure [dbo].[LIST_STUDENT_FACULTY]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LIST_STUDENT_FACULTY]
	@ID_FACULTY VARCHAR(10)
AS
	BEGIN
		SELECT STUDENT.* FROM STUDENT
		LEFT JOIN CLASS ON CLASS.ID = STUDENT.ID_CLASS
		LEFT JOIN FACULTY ON FACULTY.ID = CLASS.ID_FACULTY
		WHERE FACULTY.ID = @ID_FACULTY
	END
GO
/****** Object:  StoredProcedure [dbo].[LIST_STUDENT_OF_CLASS]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[LIST_STUDENT_OF_CLASS]
		@ID_CLASS VARCHAR(10)
AS
	BEGIN 
		SELECT STUDENT.* FROM STUDENT
			LEFT JOIN CLASS ON STUDENT.ID_CLASS = CLASS.ID
				WHERE CLASS.ID = @ID_CLASS
	END
GO
/****** Object:  StoredProcedure [dbo].[SCORE_AND_TEST_TIME]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SCORE_AND_TEST_TIME]
	@ID_STUDENT VARCHAR(10),
	@ID_SUBJECT VARCHAR(10)
AS
	BEGIN 
		SELECT RESULT.SCORE, RESULT.TEST_TIME, SUBJECT.NAME FROM RESULT
			LEFT JOIN SUBJECT ON SUBJECT.ID = RESULT.ID_SUBJECT
			WHERE RESULT.ID_STUDENT =@ID_STUDENT
			AND RESULT.ID_SUBJECT = @ID_SUBJECT
	END
GO
/****** Object:  StoredProcedure [dbo].[SCORE_SUBJECT]    Script Date: 16/5/2022 10:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SCORE_SUBJECT]
	 @ID_STUDENT VARCHAR(10)
AS
	BEGIN 
		SELECT STUDENT.NAME, SUBJECT.NAME, RESULT.SCORE FROM RESULT
		LEFT JOIN STUDENT ON STUDENT.ID = RESULT.ID_STUDENT
		LEFT JOIN SUBJECT ON SUBJECT.ID = RESULT.ID_SUBJECT
		WHERE RESULT.ID_STUDENT = @ID_STUDENT
		AND RESULT.TEST_TIME = (SELECT MAX(RESULT2.TEST_TIME) FROM RESULT AS RESULT2
										WHERE RESULT.ID_STUDENT = RESULT2.ID_STUDENT
										AND RESULT.ID_SUBJECT = RESULT2.ID_SUBJECT
								)
	END
GO
